@use "../mixins/layout-center" as *;
@use "../utils/breakpoints" as *;

.access {
  text-align: center;
  padding-top: 9.5rem;

  @include layout-center;

  &__heading {
    margin-bottom: 1rem;
  }

  &__paragraph {
    max-width: 45rem;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  &__graphic {
    width: 80%;

    @media (max-width: $bp-4) {
      width: 100%;
    }
  }
}
