@use "../mixins/layout-center" as *;
@use "../utils/breakpoints" as *;

.footer {
  margin-top: 9rem;
  background-color: rgba(#9eabb2, 0.12);
  padding-block: 2.6rem;

  &__inner {
    @include layout-center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "logo nav socials";
    align-items: center;

    @media (max-width: $bp-2) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "logo"
        "nav"
        "socials";
      justify-items: center;
      gap: 3rem;
    }
  }

  &__logo {
    grid-area: logo;
    width: 3.5rem;
  }

  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    max-width: 37rem;

    @media (max-width: $bp-2) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
    }

    @media (max-width: $bp-3) {
      flex-direction: column;
    }
  }

  &__link {
    color: var(--color-gray-blue-2);
    font-size: var(--fs-2);
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: var(--color-cyan);
    }
  }

  &__socials {
    justify-self: end;
    list-style-type: none;
    display: flex;
    gap: 1.75rem;

    @media (max-width: $bp-2) {
      justify-self: center;
    }

    li a {
      color: var(--color-gray-blue-2);
      transition: all 0.2s;

      &:hover {
        color: var(--color-cyan);
      }
    }
  }
}
